@font-face {
    font-family: 'digital clock';
    src: url('https://drive.google.com/file/d/16qyzSNMdqqK0F51JGK7kU8AS9zDLBUjU/view?usp=sharing');
}

*{
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    height: 7px;
    width: 11px;
    position: relative;
    bottom: 20px;
}
  
::-webkit-scrollbar-track {
    background: #f2f2f2;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
}
  

  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body{
    margin: 0;
    box-sizing: border-box;
    background-image: linear-gradient(-180deg, black 35%, transparent);
}

.fluid{
    width: 100%;
    height: 100vh;
}

/* .container{
    width: 100%;
}  */

/* .current{
    display: flex;
    background: black;
    color: white;
    justify-content: end;
    margin: 0 auto;
    width: 400px;
    height: 60px;
    font-size: 40px;
    text-align: end;
} */



.all{
    padding: 15px;
    margin: 50px auto;
    height: fit-content;
    width: 450px;
    background: silver;
    border-radius: 10px;
    border: 10px solid gainsboro;
}

.sums{
    display: none;
}



.drillDisplay{
    width: 95%;
    height: 60px;
    margin: 5px auto;
    background: white;
    border-radius: 10px;
    
}

.wholeDrill{
    
}

.wholeDrill p {
    overflow: auto;
    font-size: 15px;
    margin: 3px;
    text-align: end;
}

.current{
    display: flex;
    justify-content: end;
}

.current p{
    width: fit-content;
    margin: auto 2px;
    font-size: 35px;
    text-align: end;
}

.drillp{
    overflow: overlay;
}

.dis{
    height: 100%;
    margin: 0 1px;
    width: fit-content;
    font-size: 40px;
    text-align: center;
    color: black;
}

main{
    height: 80%;
    width: 100%;
}

.nums{
    height: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-size: 30px;
}

.Box{
    width: 90px;
    height: 45px;
    margin: 1.2%;
    background: black;
    border: 3px solid #ebe8e8;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.Box:hover{
cursor: pointer;
background: content-box;
}

.pas{
    width: 70%;
    height: 2px;
    background: black;
    margin: 5% auto;
}

.operands{
    height: 35%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.op{
    margin: 2%;
}

.oper{
    overflow: unset;
}

/*******   media   *************/

@media screen and (max-width:728px){
    .all{
        width: 65vw;
        height: 85vw;
        border: 8px solid gainsboro;
    }

    .drillDisplay{
    height: 50px;
    padding: 5px 0px;
    }

    .wholeDrill{
        display: none;
    }

    .Box{
    width: 22%;
    height: 16%;
    font-size: 85%;
    border: 2px solid #ebe8e8;;
    }

    .pas{
        margin: 2% auto;
    }

    .operands{
        height: 40%;
    }

    .op{
    width: 25%;
    height: 28%;
    font-size: 160%;
    }

    .sums{
        display: block;
        width: 65vw;
        height: 20vh;
        padding: 15px;
        margin: 0 auto;
        background: silver;
        border-radius: 10px;
        border: 8px solid gainsboro;
        overflow-y: overlay;
    }

    .lastSum{
        display: block;
        border-radius: 10px;
        background: white;
        margin: 1.5% 0;
        padding-left: 4%;
    }
}

@media screen and (max-width:522px){
    .all{
        border: 6px solid gainsboro;
    }

    .drillDisplay{
        height: 40px;
        padding: 4px 0px;
        }

        .box{
            border: 1px solid #ebe8e8;;
        }

        .num{
            font-size: 60%;
        }

        .op{
            font-size: 100%;
        }

        .sums{
            border: 6px solid gainsboro;
        }
}
    

